.o-icon--abacus { background-image: url('png/abacus.png'); background-repeat: no-repeat; }

.o-icon--bars { background-image: url('png/bars.png'); background-repeat: no-repeat; }

.o-icon--brand-logo { background-image: url('png/brand-logo.png'); background-repeat: no-repeat; }

.o-icon--close-button-white { background-image: url('png/close-button-white.png'); background-repeat: no-repeat; }

.o-icon--close-button { background-image: url('png/close-button.png'); background-repeat: no-repeat; }

.o-icon--condomnium { background-image: url('png/condomnium.png'); background-repeat: no-repeat; }

.o-icon--facebook-logo { background-image: url('png/facebook-logo.png'); background-repeat: no-repeat; }

.o-icon--house-money { background-image: url('png/house-money.png'); background-repeat: no-repeat; }

.o-icon--hud-logo { background-image: url('png/hud-logo.png'); background-repeat: no-repeat; }

.o-icon--piggy-bank { background-image: url('png/piggy-bank.png'); background-repeat: no-repeat; }

.o-icon--tooltip-alert { background-image: url('png/tooltip-alert.png'); background-repeat: no-repeat; }

.o-icon--tooltip-confirm { background-image: url('png/tooltip-confirm.png'); background-repeat: no-repeat; }

.o-icon--tooltip-help { background-image: url('png/tooltip-help.png'); background-repeat: no-repeat; }

