/* ==========================================================================
 # EMPHASIS
 ========================================================================== */
/**
* These properties are derived from the main WP theme, but adjusted to use
* rems for font-size.
*/

small {
  font-size: 0.8em;
}

b,
strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

cite {
  font-style: normal;
}
