/* ==========================================================================
   # HTML
   ========================================================================== */

html {
  font-family: "Lato", sans-serif;
  color: newfi-color(dove_grey);
  font-weight: 400;
}
